@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

body {
    background-color:  #8db473;
}

.body{
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
    color: rgb(184, 102, 102);
}

#hiscoreBox{
    position: absolute;
    top: 59px;
    right: 140px;
    color: rgb(185, 115, 115);
    font-size: 39px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(#3873aa, #54959e);
    width: 80vmin;
    height: 82vmin;
    border: 5px solid red;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(rgb(240, 124, 124), rgb(228, 228, 129));
    border: 2px solid rgb(34, 4, 34); 
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}

.keys{
    width: 400px;
    height: 200px;
    position: relative;
}

.key{
    position: absolute;
}

.far {
    font-size: 70px;
}
.up-key{ left: 40%; top: 5%; }
.down-key{ left: 40%; bottom: 5%;}
.left-key { left:15%; top: 30%;}
.right-key { right:17%; top: 30%;}
